[run]
omit =
    # omit anything that looks like a virtual env anywhere
    */*env*/*

    # omit test directory
    */tests/*

    # omit versioning tools
    boa/_version.py
    boa/__version__.py

    # omit inits
    */*__init__.py

    # omit doc utils file
    boa/_doc_utils.py

    # omit logging functions
    boa/logger.py

include =
    boa/*