name: boa
channels:
- pytorch
- conda-forge
dependencies:
- python=3.10
  # mac x86 or Apple Silicon macs on rosetta python need pytorch>2
  # so if on either of those, it should install pytorch>2 by default
  # but if not and something doesn't work, upgrade pytorch, torchvision,
  # and torchaudio
- pytorch::pytorch
- numpy
- pandas
- scipy
- scikit-learn
- click
- panel
- plotly>=5.10.0
- notebook>=5.3
- ipywidgets>=7.5
- ax-platform==0.3.3
- ruamel.yaml
- attrs
- jinja2
